<div layout layout-align="center center" class="spinner-container" ng-if="!meeting.$resolved">
	<md-progress-circular md-mode="indeterminate" ></md-progress-circular>
</div>

<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" ng-if="meeting.$resolved">
	<md-content class="md-content-padded" flex>
	
		<form>
	
			<div layout="row" layout-sm="column" layout-align="top center">
				<div ng-show="!meeting.poll">
					<div layout="row">
						<md-input-group class="md-text-float-full-with md-default-theme">
							<label for="meetingStartDate">Meeting date</label>
							<md-datepicker
								md-fid="meetingStartDate"
								ng-model="meeting.start"
								min-view="date"
								max-view="month"
								format="shortDate"
								type="date"
							>
							</md-datepicker>
						</md-input-group>
						<md-input-group class="md-text-float-full-with md-default-theme">
							<label for="meetingEndDate">Start time</label>
							<md-datepicker
								md-fid="meetingEndDate"
								ng-model="meeting.start"
								min-view="minutes"
								max-view="hours"
								format="shortTime"
								type="time"
							>
							</md-datepicker>
						</md-input-group>
						<md-input-group class="md-text-float-full-with md-default-theme">
							<label for="meetingEndDate">End time</label>
							<md-datepicker
								md-fid="meetingEndDate"
								ng-model="meeting.end"
								min-view="minutes"
								max-view="hours"
								format="shortTime"
								type="time"
							>
							</md-datepicker>
						</md-input-group>
					</div>
					<div style="text-align:center">
						<md-button class="md-raised" ng-click="createPoll()">create Poll</md-button>
					</div>
				</div>
				<div ng-show="meeting.poll">
					<div layout="row" layout-align="center center" ng-repeat="proposedDate in meeting.poll.proposedDates track by $index">
						<div layout="row" flex>
						
							
							<md-input-group class="md-text-float-full-with md-default-theme">
								<label for="proposedDate{{$index}}">Proposed date {{$index+1}}</label>
								<md-datepicker
									md-fid="proposedDate{{$index}}"
									ng-model="meeting.poll.proposedDates[$index].start"
									min-view="date"
									max-view="month"
									format="shortDate"
									ng-disabled="meeting.poll.started"
									type="date"
								>
								</md-datepicker>
							</md-input-group>
							<md-input-group class="md-text-float-full-with md-default-theme">
								<label for="proposedStartTime{{$index}}">Start time {{$index+1}}</label>
								<md-datepicker
									md-fid="proposedStartTime{{$index}}"
									ng-model="meeting.poll.proposedDates[$index].start"
									min-view="minutes"
									max-view="hours"
									format="shortTime"
									type="time"
								>
								</md-datepicker>
							</md-input-group>
							<md-input-group class="md-text-float-full-with md-default-theme">
								<label for="proposedEndTime{{$index}}">End time {{$index+1}}</label>
								<md-datepicker
									md-fid="proposedEndTime{{$index}}"
									ng-model="meeting.poll.proposedDates[$index].end"
									min-view="minutes"
									max-view="hours"
									format="shortTime"
									type="time"
								>
								</md-datepicker>
							</md-input-group>
							
							

						</div>
						<md-button ng-click="removeProposedDate($index)" style="position:relative; left:-15px;" ng-show="!meeting.poll.started">&times;</md-button>
					</div>
					<div style="text-align:center" ng-show="!meeting.poll.started">
						<md-button class="md-raised" ng-click="addProposedDate()">Add Date</md-button>
					</div>
					<div layout="row">
					
						<md-input-group class="md-text-float-full-with md-default-theme">
							<label for="pollStartDate">Poll start date</label>
							<md-datepicker
								md-fid="pollStartDate"
								ng-model="meeting.poll.startDate"
								min-view="date"
								max-view="month"
								format="shortDate"
								type="date"
								ng-disabled="meeting.poll.started"
							>
							</md-datepicker>
						</md-input-group>
						
						<md-input-group class="md-text-float-full-with md-default-theme">
							<label for="pollEndDate">Poll end date</label>
							<md-datepicker
								md-fid="pollEndDate"
								ng-model="meeting.poll.endDate"
								min-view="date"
								max-view="month"
								format="shortDate"
								type="date"
								ng-disabled="meeting.poll.started"
							>
							</md-datepicker>
						</md-input-group>

					</div>
				</div>
				<div layout="column" flex>
					<div>
						<md-text-float label="Title" ng-model="meeting.title" class="md-text-float-full-with input-lg"></md-text-float>
					</div>
					<div>
						<md-text-float label="Description" ng-model="meeting.description" type="textarea" class="md-text-float-full-with"></md-text-float>
					</div>
				</div>
			</div>
      
      		<div layout="row">
				<div class="material-content-actions" flex>
					<md-button class="md-raised md-primary" ng-href="#/project/{{currentProject.id}}/meetings">OK</md-button>
				</div>
			</div>
      
      </form>

	</md-content>
</md-whiteframe>