<div layout layout-align="center center" class="spinner-container" ng-if="!meeting.$resolved">
	<material-circular-progress mode="indeterminate" ></material-circular-progress>
</div>

<material-whiteframe class="material-whiteframe-z1" layout layout-align="center center" ng-if="meeting.$resolved">
	<material-content class="material-content-padded" flex>
	
		<form>
	
			<div layout="horizontal" layout-align="top center">
				<div ng-show="!meeting.poll">
					<tf-float label="Meeting date" value="meeting.timestamp" type="date"></tf-float>
					<div style="text-align:center">
						<material-button class="material-button-raised" ng-click="createPoll()">create Poll</material-button>
					</div>
				</div>
				<div ng-show="meeting.poll">
					<div layout="horizontal" layout-align="center center" ng-repeat="proposedDate in meeting.poll.proposedDates track by $index">
						<div flex>
							<tf-float label="Proposed date {{$index+1}}" value="meeting.poll.proposedDates[$index]" type="date"></tf-float>
						</div>
						<material-button ng-click="removeProposedDate($index)" style="position:relative; left:-15px;">&times;</material-button>
					</div>
					<div style="text-align:center">
						<material-button class="material-button-raised" ng-click="meeting.poll.proposedDates.push(null)">Add Date</material-button>
					</div>
					<div>
						<tf-float label="Poll start date" value="meeting.poll.startDate" type="date"></tf-float>
						<tf-float label="Poll end date" value="meeting.poll.endDate" type="date"></tf-float>
					</div>
				</div>
				<div layout="vertical" flex>
					<div>
						<tf-float label="Title" value="meeting.title" class="tf-float-full-with input-lg"></tf-float>
					</div>
					<div>
						<tf-float label="Description" value="meeting.description" type="textarea" class="tf-float-full-with"></tf-float>
					</div>
				</div>
			</div>
      
      		<div layout="horizontal">
				<div class="material-content-actions" flex>
					<material-button class="material-button-raised" ng-href="#/project/{{currentProject.id}}/meetings">OK</material-button>
				</div>
			</div>
      
      </form>

	</material-content>
</material-whiteframe>