<div layout layout-align="center center" class="spinner-container" ng-if="!meetingList.$resolved">
	<md-progress-circular md-mode="indeterminate" ></md-progress-circular>
</div>

<div ng-if="meetingList.$resolved && (!meetingList.items || meetingList.items.length==0)">
	<p class="empty-list-message text-muted">No meetings for this project</p>
</div>

<section ng-if="meetingList.$resolved && (meetingList.items | filter:filter_isToBeScheduled).length>0">
	<md-subheader md-theme="transparent">To be scheduled</md-subheader>
	<md-whiteframe class="md-whiteframe-z1 md-whiteframe-with-subheader" layout layout-align="center center" ng-repeat="meeting in meetingList.items | filter:filter_isToBeScheduled" ng-if="meetingList.$resolved && meetingList.items.length>0">
		<md-content flex>
			<section>
				<md-list layout="column"> 
					<md-item class="md-item-padded">
						<md-item-content>
							<div class="md-tile-left first" style="text-align:center; min-width:120px" hide-sm>
								<md-icon icon="/img/icons/ic_help_48px.svg"></md-icon>
								<p class="text-muted" ng-show="meeting.poll.preferredDate">
									{{meeting.poll.preferredDate.start|date:'dd'}}<br>
									{{meeting.poll.preferredDate.start|date:'MMMM'}}<br>
									<i style="display:inline-block; padding-top:8px;">(maybe)</i>
								</p>
							</div>
							<div class="md-tile-content last" ng-click="goto(meeting)" style="cursor: pointer;" flex>
								<div class="list-item-box list-item-box-right">
									<h3>{{meeting.title}}</h3>
									<p>{{meeting.description}}</p>
									<md-divider ng-show="meeting.poll && meeting.title" style="margin:10px 0"></md-divider>
									<h3 ng-show="meeting.poll">
										Poll 
										<span ng-show="meeting.poll.startDate">starts on <b>{{meeting.poll.startDate|date:'dd'}} {{meeting.poll.startDate|date:'MMMM'}}</b></span>
										<span ng-show="meeting.poll.startDate && meeting.poll.endDate"> and </span>
										<span ng-show="meeting.poll.endDate">ends on <b>{{meeting.poll.endDate|date:'dd'}} {{meeting.poll.endDate|date:'MMMM'}}</b></span>
									</h3>
									<ul style="margin:0; padding:0;" ng-show="meeting.poll">
										<li ng-repeat="proposedDate in meeting.poll.proposedDates track by $index" layout="row" layout-align="center center">
											<md-icon style="margin:0;" icon="/img/icons/ic_chevron_right_18px.svg"></md-icon>
											&nbsp;
											<span style="column-align:middle">{{proposedDate.start|date:'short'}}</span>
											&nbsp;&nbsp;
											<md-button ng-show="meeting.poll.open" style="column-align:middle" ng-class="{'md-raised':poll_hasVoted(meeting,proposedDate,true)}" ng-click="poll_vote(meeting,proposedDate,true,$event)">
												<md-icon icon="/img/icons/ic_check_18px.svg"></md-icon>
											</md-button>
											&nbsp;
											<md-button ng-show="meeting.poll.open" style="column-align:middle;" ng-class="{'md-raised':poll_hasVoted(meeting,proposedDate,false)}" ng-click="poll_vote(meeting,proposedDate,false,$event)">
												<md-icon icon="/img/icons/ic_close_18px.svg"></md-icon>
											</md-button>
											&nbsp;&nbsp;
											<div flex>
												<img ng-repeat="vote in meeting.poll.votes | filter:{proposedDate:proposedDate,result:true}" ng-src="{{vote.user.iconUrl ? vote.user.iconUrl : '/img/face.png'}}" class="face" style="width:24px; height:24px" alt="{{vote.user.firstName}} {{vote.user.lastName}}" title="{{vote.user.firstName}} {{vote.user.lastName}}">
											</div>
										</li>
									</ul>
								</div>
							</div>
						</md-item-content>
					</md-item>
				</md-list>
			</section>
		</md-content>
	</md-whiteframe>
</section>

<section ng-if="meetingList.$resolved && (meetingList.items | filter:filter_isNotPast).length>0">
	<md-subheader md-theme="transparent">Upcoming meetings</md-subheader>
	<md-whiteframe class="md-whiteframe-z1 md-whiteframe-with-subheader" layout layout-align="center center" ng-repeat="meeting in meetingList.items | filter:filter_isNotPast | orderBy:'start'" ng-if="meetingList.$resolved && meetingList.items.length>0">
		<md-content flex>
			<section>
				<md-list layout="column"> 
					<md-item class="md-item-padded"> 
						<md-item-content>
							<div class="md-tile-left first" style="text-align:center; min-width:120px">
								<div class="list-item-box list-item-box-left">
									<span class="meeting-day">{{meeting.start|date:'dd'}}</span>
									<br/>
									<span class="meeting-month">{{meeting.start|date:'MMMM'}}</span>
								</div>
							</div>
							<div class="md-tile-content" ng-click="goto(meeting)" style="cursor: pointer;" flex>
								<h3>{{meeting.title}}</h3>
								<p>{{meeting.description}}</p>
							</div>
							<div class="md-tile-right last" style="text-align:center; min-width:150px">
								<md-button class="md-button-padded" ng-href="{{getHangoutLink(meeting)}}" target="_blank" data-ng-show="meeting.start && !meeting.past" style="color:inherit">
									<md-icon icon="/img/icons/ic_hangout_24px.svg"></md-icon> Hangout&nbsp;
								</md-button>
							</div>
						</md-item-content>
					</md-item>
				</md-list>
			</section>
		</md-content>
	</md-whiteframe>
</section>

<section  ng-if="meetingList.$resolved && (meetingList.items | filter:filter_isPast).length>0">
	<md-subheader md-theme="transparent">Past meetings</md-subheader>
	<md-whiteframe class="md-whiteframe-z1 md-whiteframe-with-subheader" layout layout-align="center center" ng-repeat="meeting in meetingList.items | filter:filter_isPast | orderBy:'start'" ng-if="meetingList.$resolved && meetingList.items.length>0">
		<md-content flex>
			<section>
				<md-list layout="column"> 
					<md-item class="md-item-padded"> 
						<md-item-content>
							<div class="md-tile-left first" style="text-align:center; min-width:120px">
								<div class="list-item-box list-item-box-left">
									<span class="meeting-day">{{meeting.start|date:'dd'}}</span>
									<br/>
									<span class="meeting-month">{{meeting.start|date:'MMMM'}}</span>
								</div>
							</div>
							<div class="md-tile-content last" ng-click="goto(meeting)" style="cursor: pointer;" flex>
								<h3>{{meeting.title}}</h3>
								<p>{{meeting.description}}</p>
							</div>
						</md-item-content>
					</md-item>
				</md-list>
			</section>
		</md-content>
	</md-whiteframe>
</section>