.meeting-day {
	font-size:25pt;
}

.meeting-time {
	font-size:10pt;
}

.proposed-date {
	border: 1px dashed transparent;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
	display: inline-block;
	padding: 5px;
	margin:0 5px;
}

.proposed-date.preferred {
	border: 1px dashed #4caf50;
}

.proposed-date-time {
	font-size: 14px;
}

.proposed-date-vote-buttons {
	min-width: 60px;
}