<div layout layout-align="center center" class="spinner-container" ng-if="!meetingList.$resolved">
	<material-circular-progress mode="indeterminate" ></material-circular-progress>
</div>

<div ng-if="meetingList.$resolved && (!meetingList.items || meetingList.items.length==0)">
	<p class="empty-list-message text-muted">No meetings for this project</p>
</div>

<section  ng-if="meetingList.$resolved && (meetingList.items | filter:filter_isToBeScheduled).length>0">
	<material-subheader>To be scheduled</material-subheader>
	<material-whiteframe class="material-whiteframe-z1" layout layout-align="center center" ng-repeat="meeting in meetingList.items | filter:filter_isToBeScheduled" ng-if="meetingList.$resolved && meetingList.items.length>0">
		<material-content flex>
			<section>
				<material-list layout="vertical"> 
					<material-item>
						<material-item-content>
							<div class="material-tile-left" style="text-align:center; min-width:120px">
								<material-icon icon="/img/icons/ic_help_48px.svg"></material-icon>
							</div>
							<div class="material-tile-content" ng-click="goto(meeting)" style="cursor: pointer;" flex>
								<div class="list-item-box list-item-box-right">
									<h3>{{meeting.title}}</h3>
									<p>{{meeting.description}}</p>
									<ul style="margin-top:0" ng-show="meeting.poll">
										<li ng-repeat="proposedDate in meeting.poll.proposedDates track by $index">
											<span style="vertical-align:middle">{{proposedDate|date:'dd'}} {{proposedDate|date:'MMMM'}}</span>
											<material-button style="vertical-align:middle" ng-class="{'material-button-raised':poll_hasVoted(meeting,proposedDate,true)}" ng-click="poll_vote(meeting,proposedDate,true,$event)">
												<material-icon icon="/img/icons/ic_check_18px.svg"></material-icon>
											</material-button>
											<material-button style="vertical-align:middle; position:relative; left:-15px;" ng-class="{'material-button-raised':poll_hasVoted(meeting,proposedDate,false)}" ng-click="poll_vote(meeting,proposedDate,false,$event)">
												<material-icon icon="/img/icons/ic_close_18px.svg"></material-icon>
											</material-button>
										</li>
									</ul>
								</div>
							</div>
						</material-item-content>
					</material-item>
				</material-list>
			</section>
		</material-content>
	</material-whiteframe>
</section>

<section ng-if="meetingList.$resolved && (meetingList.items | filter:filter_isNotPast).length>0">
	<material-subheader>Upcoming meetings</material-subheader>
	<material-whiteframe class="material-whiteframe-z1" layout layout-align="center center" ng-repeat="meeting in meetingList.items | filter:filter_isNotPast | orderBy:'timestamp'" ng-if="meetingList.$resolved && meetingList.items.length>0">
		<material-content flex>
			<section>
				<material-list layout="vertical"> 
					<material-item> 
						<material-item-content>
							<div class="material-tile-left" style="text-align:center; min-width:120px">
								<div class="list-item-box list-item-box-left">
									<span class="meeting-day">{{meeting.timestamp|date:'dd'}}</span>
									<br/>
									<span class="meeting-month">{{meeting.timestamp|date:'MMMM'}}</span>
								</div>
							</div>
							<div class="material-tile-content" ng-click="goto(meeting)" style="cursor: pointer;" flex>
								<h3>{{meeting.title}}</h3>
								<p>{{meeting.description}}</p>
							</div>
						</material-item-content>
					</material-item>
				</material-list>
			</section>
		</material-content>
	</material-whiteframe>
</section>

<section  ng-if="meetingList.$resolved && (meetingList.items | filter:filter_isPast).length>0">
	<material-subheader>Past meetings</material-subheader>
	<material-whiteframe class="material-whiteframe-z1" layout layout-align="center center" ng-repeat="meeting in meetingList.items | filter:filter_isPast | orderBy:'timestamp'" ng-if="meetingList.$resolved && meetingList.items.length>0">
		<material-content flex>
			<section>
				<material-list layout="vertical"> 
					<material-item> 
						<material-item-content>
							<div class="material-tile-left" style="text-align:center; min-width:120px">
								<div class="list-item-box list-item-box-left">
									<span class="meeting-day">{{meeting.timestamp|date:'dd'}}</span>
									<br/>
									<span class="meeting-month">{{meeting.timestamp|date:'MMMM'}}</span>
								</div>
							</div>
							<div class="material-tile-content" ng-click="goto(meeting)" style="cursor: pointer;" flex>
								<h3>{{meeting.title}}</h3>
								<p>{{meeting.description}}</p>
							</div>
						</material-item-content>
					</material-item>
				</material-list>
			</section>
		</material-content>
	</material-whiteframe>
</section>