<div layout layout-align="center center" class="spinner-container" ng-if="!meetingList.$resolved">
	<material-circular-progress mode="indeterminate" ></material-circular-progress>
</div>

<div ng-if="meetingList.$resolved && (!meetingList.items || meetingList.items.length==0)">
	<p class="empty-list-message">No meetings for this project</p>
</div>

<section>
	<material-subheader class="material-subheader-colored">Upcoming meetings</material-subheader>
	<material-whiteframe class="material-whiteframe-z1" layout layout-align="center center" ng-repeat="meeting in meetingList.items | filter:{past:false}" ng-if="meetingList.$resolved && meetingList.items.length>0">
		<material-content flex>
			<section>
				<material-list layout="vertical"> 
					<material-item> 
						<material-item-content>
							<div class="material-tile-left">
								{{meeting.timestamp|date:'shortDate'}}
							</div>
							<div class="material-tile-content" ng-click="goto(meeting)" style="cursor: pointer;" flex>
								<h3>{{meeting.title}}</h3>
								<p>{{meeting.description}}</p>
							</div>
						</material-item-content>
					</material-item>
				</material-list>
			</section>
		</material-content>
	</material-whiteframe>
</section>

<section>
	<material-subheader>Past meetings</material-subheader>
	<material-whiteframe class="material-whiteframe-z1" layout layout-align="center center" ng-repeat="meeting in meetingList.items | filter:{past:true}" ng-if="meetingList.$resolved && meetingList.items.length>0">
		<material-content flex>
			<section>
				<material-list layout="vertical"> 
					<material-item> 
						<material-item-content>
							<div class="material-tile-left">
								{{meeting.timestamp|date:'shortDate'}}
							</div>
							<div class="material-tile-content" ng-click="goto(meeting)" style="cursor: pointer;" flex>
								<h3>{{meeting.title}}</h3>
								<p>{{meeting.description}}</p>
							</div>
						</material-item-content>
					</material-item>
				</material-list>
			</section>
		</material-content>
	</material-whiteframe>
</section>