<md-tabs md-theme="transparent" md-selected="tabSelected" ng-init="tabSelected=0">
	<md-tab label="All" md-on-select="showTab_all()"></md-tab>
	<md-tab label="Upcoming" md-on-select="showTab_upcoming()"></md-tab>
	<md-tab label="Assigned to me" md-on-select="showTab_mine()"></md-tab>
	<md-tab label="Unassigned" md-on-select="showTab_unassigned()"></md-tab>
</md-tabs>

<div layout layout-align="center center" class="spinner-container" ng-if="!taskList.$resolved">
	<md-progress-circular md-mode="indeterminate" ></md-progress-circular>
</div>

<div ng-if="taskList.$resolved && (!taskList.items || taskList.items.length==0)">
	<p class="empty-list-message text-muted">No task yet for this project</p>
</div>

<div ng-if="taskList.items.length>0 && (taskList.items | filter:currentFilter).length == 0">
	<p class="empty-list-message text-muted">No task in this view</p>
</div>

<section ng-repeat="(groupValue,taskGroupedList) in taskList.items | groupBy:'completed'" ng-if="taskList.$resolved && taskList.items.length>0">
	<md-subheader md-theme="transparent" ng-switch on="groupValue" ng-show="(taskGroupedList | filter:currentFilter).length>0">
		<span ng-switch-when="false">To Do</span>
		<span ng-switch-when="true">Completed</span>
	</md-subheader>
	<md-whiteframe class="md-whiteframe-z1 md-whiteframe-with-subheader" ng-show="(taskGroupedList | filter:currentFilter).length>0" layout layout-align="center center">
		<md-content flex>
				<md-list layout="column"> 
					<md-item class="md-item-padded" style="cursor: pointer;" ng-repeat="task in taskGroupedList | filter:currentFilter | orderBy:currentOrderBy:currentOrderByReverse" ng-click="goto(task)"> 
						<md-item-content>
							<div class="md-tile-left first">
								<md-checkbox class="checkbox-bigger" ng-model="task.completed" aria-label="Completed" ng-change="saveTaskAsync(task);$event.stopPropagation()"></md-checkbox>
							</div>
							<div class="md-tile-content" flex>
								<h3>{{task.title}}</h3>
								<p>{{task.description}}</p>
							</div>
							<div class="md-tile-right last" ng-click="goto(task)" style="cursor: pointer;" hide-sm layout="row" layout-align="center center">
								<div layout="row" style="text-align: center;">
									<div layout="column" layout-align="center center" class="list-item-box list-item-box-right task-detail-box" style="width:50px; ">
										<div ng-show="task.priority">
											<span>P{{task.priority}}</span>
										</div>
										<div ng-show="!task.priority" class="text-muted empty-field-message">P?</div>
									</div>
									<div layout="column" layout-align="center center" class="list-item-box list-item-box-right task-detail-box" style="width:100px; ">
										<div ng-show="task.dueDate">
											<span>{{task.dueDate|date:'shortDate'}}</span>
										</div>
										<div ng-show="!task.dueDate" class="text-muted empty-field-message">no due date</div>
									</div>
									<div layout="column" layout-align="center center" class="list-item-box list-item-box-right task-detail-box" style="width:80px;">
										<div ng-show="task.assignee" layout="column" layout-align="center center">
											<img class="face" src="about:blank" ng-src="{{task.assignee.iconUrl ? task.assignee.iconUrl : '/img/face.png'}}"/>
											<small>{{task.assignee.firstName}}</small>
										</div>
										<div ng-show="!task.assignee" class="text-muted empty-field-message">no one assigned</div>
									</div>
								</div>
							</div>
						</md-item-content>
						<md-divider ng-if="!$last"></md-divider>
					</md-item>
				</md-list>
		</md-content>
	</md-whiteframe>
</section>