<material-tabs class="material-theme-transparent" selected="tabSelected" ng-init="tabSelected=0">
	<material-tab label="Assigned to me"></material-tab>
	<material-tab label="Upcoming"></material-tab>
	<material-tab label="All"></material-tab>
</material-tabs>

<material-whiteframe class="task-group material-whiteframe-z1" layout layout-align="center center" ng-repeat="(groupValue,taskGroupedList) in taskList.items | groupBy:'completed'">
	<material-content flex>
		<section>
			<material-list layout="vertical"> 
				<material-item ng-repeat="task in taskGroupedList"> 
					<material-item-content>
						<div class="material-tile-left">
							<material-checkbox ng-model="task.completed" aria-label="Completed" ng-click="task.$save()"></material-checkbox>
						</div>
						<div class="material-tile-content" ng-click="goto(task)" style="cursor: pointer;" flex>
							<h3>{{task.title}}</h3>
							<p>{{task.description}}</p>
						</div>
					</material-item-content>
					<material-divider ng-if="!$last"></material-divider>
				</material-item>
			</material-list>
		</section>
	</material-content>
</material-whiteframe>