<material-tabs class="material-theme-transparent" selected="tabSelected" ng-init="tabSelected=0">
	<material-tab label="All"></material-tab>
	<material-tab label="Upcoming"></material-tab>
	<material-tab label="Assigned to me"></material-tab>
</material-tabs>

<div layout layout-align="center center" class="spinner-container" ng-if="!taskList.$resolved">
	<material-circular-progress mode="indeterminate" ></material-circular-progress>
</div>

<div ng-if="taskList.$resolved && (!taskList.items || taskList.items.length==0)">
	<p class="empty-list-message text-muted">No task yet for this project</p>
</div>

<section ng-repeat="(groupValue,taskGroupedList) in taskList.items | groupBy:'completed'" ng-if="taskList.$resolved && taskList.items.length>0">
	<material-subheader ng-switch on="groupValue">
		<span ng-switch-when="false">To Do</span>
		<span ng-switch-when="true">Completed</span>
	</material-subheader>
	<material-whiteframe class="task-group material-whiteframe-z1" layout layout-align="center center">
		<material-content flex>
				<material-list layout="vertical"> 
					<material-item ng-repeat="task in taskGroupedList"> 
						<material-item-content>
							<div class="material-tile-left">
								<material-checkbox class="checkbox-bigger" ng-model="task.completed" aria-label="Completed" ng-click="task.$save()"></material-checkbox>
							</div>
							<div class="material-tile-content" ng-click="goto(task)" style="cursor: pointer;" flex>
								<h3>{{task.title}}</h3>
								<p>{{task.description}}</p>
							</div>
							<div class="material-tile-right" ng-click="goto(task)" style="cursor: pointer;" layout="horizontal" layout-align="center center">
								<div layout="horizontal" style="text-align: center;">
									<div layout="vertical" layout-align="center center" class="list-item-box list-item-box-right task-detail-box" style="width:50px; ">
										<div ng-show="task.priority">
											<span>P{{task.priority}}</span>
										</div>
										<div ng-show="!task.priority" class="text-muted empty-field-message">P?</div>
									</div>
									<div layout="vertical" layout-align="center center" class="list-item-box list-item-box-right task-detail-box" style="width:100px; ">
										<div ng-show="task.dueDate">
											<span>{{task.dueDate|date:'shortDate'}}</span>
										</div>
										<div ng-show="!task.dueDate" class="text-muted empty-field-message">no due date</div>
									</div>
									<div layout="vertical" layout-align="center center" class="list-item-box list-item-box-right task-detail-box" style="width:80px; padding-right:0;">
										<div ng-show="task.assignee" layout="vertical" layout-align="center center">
											<img class="face" src="about:blank" ng-src="{{task.assignee.iconUrl ? task.assignee.iconUrl : '/img/face.png'}}"/>
											<small>{{task.assignee.firstName}}</small>
										</div>
										<div ng-show="!task.assignee" class="text-muted empty-field-message">no one assigned</div>
									</div>
								</div>
							</div>
						</material-item-content>
						<material-divider ng-if="!$last"></material-divider>
					</material-item>
				</material-list>
		</material-content>
	</material-whiteframe>
</section>