<md-dialog aria-label="Add a user">	
	<md-content>
		<h2>Add a user</h2>
		<p>
			<md-input-group class="md-text-float-full-with md-default-theme" style="width:300px;">
				<label for="user">User</label>
				<md-typeahead
					md-fid="user"
					selected-item-template-url="/components/user/md-typeahead-selected-item.html"
					item-template-url="/components/user/md-typeahead-item.html"
					source="lookupUsers"
					ng-model="user"
				>
				</md-typeahead>
			</md-input-group>
		</p>
	</md-content>
	<div class="md-actions" layout="row" layout-align="end"  ng-if="!loading">
		<md-button ng-click="add()" class="md-primary">OK</md-button>
	</div>
</md-dialog>