<div layout layout-align="center center" class="spinner-container" ng-if="!entityList.$resolved">
	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>


<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" ng-if="entityList.$resolved">
	
	<md-content flex>
		<md-list>
			<md-item ng-repeat="entity in entityList.items"> 
				<md-item-content>
					<div class="md-tile-left">
						<div class="list-item-box list-item-box-left">
							<img ng-src="{{entity.iconUrl ? entity.iconUrl : '/img/face.png'}}" class="face" alt="{{entity.firstName}} {{entity.lastName}}">
						</div>
					</div>
					<div class="md-tile-content" flex>
						<h3>{{entity.firstName}} {{entity.lastName}}</h3>
					</div>
					<div class="md-tile-right">
						<md-button ng-if="entity.id != currentUser.id" ng-click="removeMember(entity)">
						 	<md-icon icon="/img/icons/ic_cancel_24px.svg"></md-icon>
						 	<md-tooltip>Remove this user</md-tooltip>
						 </md-button>
					</div>
				</md-item-content>
				<md-divider ng-if="!$last"></md-divider>
			</md-item>
		</md-list>
	</md-content>
	
</md-whiteframe>