<div ng-if="activityList.$resolved && (!activityList.items || activityList.items.length==0)">
	<p class="empty-list-message text-muted">No activity yet for this project</p>
</div>

<section ng-repeat="(groupValue,activityGroupedList) in activityList.items | groupBy:'timestampGroup'" ng-if="activityList.$resolved && activityList.items.length>0">
	<md-subheader md-theme="transparent" ng-show="activityGroupedList.length>0">
		{{groupValue}}
	</md-subheader>
	<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" ng-repeat="activity in activityGroupedList">
		<md-content flex>
			<section>
				<md-list layout="column"> 
					<md-item class="md-item-padded activity-item"> 
						<md-item-content>
							<div class="md-tile-left first">
								<div class="list-item-box list-item-box-left" layout="column" layout-align="center center" style="min-width:120px;">
									<span ng-switch on="activity.activityType">
										<i ng-switch-when="TaskActivityEvent" class="mdi-view-list"></i>
										<i ng-switch-when="ProjectActivityEvent" class="mdi-content-paste"></i>
										<i ng-switch-when="MeetingActivityEvent" class="mdi-event"></i>
										<i ng-switch-when="MemberActivityEvent" class="mdi-group"></i>
										<i ng-switch-default class="md-info-outline"></i>
									</span>
									{{activity.verb}}
								</div>
							</div>
							<div class="md-tile-content" ng-include="'/components/activity/item-'+activity.activityType+'.html'" flex hide-sm>
							</div>
							<div class="md-tile-right last" layout="row" layout-sm="column" layout-align="left center">
								<div class="list-item-box list-item-box-right" layout="row" layout-align="center center" style="text-align: center;">
									<small>{{activity.timestamp|date:'shortDate'}}<br/><small>{{activity.timestamp|date:'shortTime'}}</small></small>
								</div>
								<div class="list-item-box list-item-box-right" layout="column" layout-align="center center">
									<img class="face" src="about:blank" ng-src="{{activity.actor.iconUrl ? activity.actor.iconUrl : '/img/face.png'}}"/>
									<small>{{activity.actor.firstName}}</small>
								</div>
							</div>
						
						</md-item-content>
					</md-item>
				</md-list>
			</section>
		</md-content>
	</md-whiteframe>
</section>

<div layout layout-align="center center" class="spinner-container" ng-if="!activityList.$resolved || loadingMore">
	<md-progress-circular md-mode="indeterminate" ></md-progress-circular>
</div>

<div layout layout-align="center center" class="md-content-padded" ng-if="!loadingMore && !loadMoreEndReached && activityList.$resolved && activityList.items.length>0">
		<md-button ng-click="loadMore()">Load more</md-button>
	</div>
</div>