<div layout layout-align="center center" class="spinner-container" ng-if="(!project.$resolved || !iframeready)">
	<md-progress-circular md-mode="indeterminate" ></md-progress-circular>
</div>

<md-whiteframe class="fillview md-whiteframe-z1" layout layout-align="center center" ng-show="project.$resolved && iframeready">
	<md-content class="material-content-padded" flex style="height:100%; overflow:hidden;">
		<iframe name="_discussion_frame" id="_discussion_frame" ng-src="{{iframeSrc}}" style="width: 100%; height: 100%" frameborder="0" iframe-onload="iframeLoaded()"></iframe>
	</md-content>
</md-whiteframe>