<div style="text-align:center">

	<div layout layout-align="center center" class="spinner-container" ng-if="!entityList.$resolved">
		<md-progress-circular md-mode="indeterminate" ></md-progress-circular>
	</div>
	
	<div ng-if="entityList.$resolved && (!entityList.items || entityList.items.length==0)">
		<p class="empty-list-message text-muted">You don't have any project</p>
	</div>
	
	<div ng-if="entityList.$resolved  && (entityList.items.length>0)">
		<md-whiteframe class="md-whiteframe-z1 tile" layout layout-align="center center" style="cursor: pointer;" ng-click="goto(entity)" ng-repeat="entity in entityList.items">
		<md-content class="md-content-padded" layout="row" flex>
				<div class="md-tile-left first" layout="column" layout-align="center center" flex>
					<h2>{{entity.name}}</h2>
				</div>
				<div class="md-tile-right last" layout="row" layout-align="center center">
					<div layout="row" style="text-align: center;">
						<div layout="column" class="list-item-box list-item-box-right" style="min-width:50px; text-align: left;">
							<div layout="row" layout-align="center center">
								<span><md-icon icon="/img/icons/ic_view_list_24px.svg"></md-icon>&nbsp;</span>
								<span flex>{{entity.tasksCount}}</span>
							</div>
							<div layout="row" layout-align="center center">
								<span><md-icon icon="/img/icons/ic_event_24px.svg"></md-icon>&nbsp;</span>
								<span flex>{{entity.meetingsCount}}</span>
							</div>
							<div layout="row" layout-align="center center">
								<span><md-icon icon="/img/icons/ic_group_24px.svg"></md-icon>&nbsp;</span>
								<span flex>{{entity.usersCount}}</span>
							</div>
						</div>
					</div>
				</div>
			</md-content>
		</md-whiteframe>
	</div>
	
	
</div>