<div style="text-align:center">

	<div layout layout-align="center center" class="spinner-container" ng-if="!entityList.$resolved">
		<md-progress-circular md-mode="indeterminate" ></md-progress-circular>
	</div>
	
	<div ng-if="entityList.$resolved && (!entityList.items || entityList.items.length==0)">
		<p class="empty-list-message text-muted">You don't have any project</p>
	</div>
	
	<div ng-if="entityList.$resolved  && (entityList.items.length>0)">
		<md-whiteframe flex="33" class="md-whiteframe-z1 tile" layout="column" layout-align="center center" ng-repeat="entity in entityList.items">
			<md-content class="md-content-padded">
				<section layout="row" flex style="cursor: pointer; margin-bottom:12px;" ng-click="goto(entity)">
					<div class="md-tile-left first" layout="column" layout-align="center center" flex>
						<h2 style="margin-bottom: 5px;">{{entity.name}}</h2>
						<small>{{entity.description}}</small>
					</div>
					<div class="md-tile-right last" layout="row" layout-align="center center" hide-sm>
						<div layout="row" style="text-align: center;">
							<div layout="column" class="list-item-box list-item-box-right" style="min-width:50px; text-align: left; line-height: 30px">
								<div layout="row" layout-align="center center">
									<span><i class="mdi-view-list mdi-lg"></i>&nbsp;</span>
									<span flex>{{entity.tasksCount}}</span>
								</div>
								<div layout="row" layout-align="center center">
									<span><i class="mdi-event mdi-lg"></i>&nbsp;</span>
									<span flex>{{entity.meetingsCount}}</span>
								</div>
								<div layout="row" layout-align="center center">
									<span><i class="mdi-group mdi-lg"></i>&nbsp;</span>
									<span flex>{{entity.usersCount}}</span>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section layout="column" flex>
					<md-list layout="column" flex style="padding:0"> 
						<md-item class="md-item-padded-small" style="cursor: pointer;" ng-repeat="task in taskList.items | filter:{project:entity.id} | orderBy:'priority':true | orderBy:'dueDate' | limitTo:3" ng-click="gotoTask(entity,task)"> 
							<md-item-content>
								<div class="md-tile-content first" style="text-align:left;" layout="row" layout-align="center center" flex>
									<md-checkbox ng-model="task.completed" aria-label="Completed" ng-change="saveTaskAsync(task)" ng-click="$event.stopPropagation()" style="margin:0 4px 4px 4px;" ></md-checkbox>
									<span flex>{{task.title}}</span>
								</div>
								<div class="md-tile-right last" style="cursor: pointer;" layout="row" layout-align="center center">
									<span class="text-muted text-small">
										<span ng-show="task.dueDate">{{task.dueDate|date:'shortDate'}}</span>
										<span ng-show="!task.dueDate && task.priority>=0">P{{task.priority}}</span>
									</span>
								</div>
							</md-item-content>
							<md-divider ng-if="!$last"></md-divider>
						</md-item>
					</md-list>
				</section>
			</md-content>
		</md-whiteframe>
	</div>
	
	
</div>