<div ng-controller='fileListFabController' class="fab-container" layout="vertical">
	<div class="fab-container-small-fabs">
		<div>
			<md-button class="md-fab material-button-fab-small" ng-click="fabCreate('application/vnd.google-apps.spreadsheet')">
				<md-icon icon="/img/sheets-logo-white.svg"></md-icon>
				<md-tooltip>new Sheet</md-tooltip>
			</md-button>
		</div>
		<div>
			<md-button class="md-fab material-button-fab-small" ng-click="fabCreate('application/vnd.google-apps.presentation')">
				<md-icon icon="/img/presentation-logo-white.svg"></md-icon>
				<md-tooltip>new Slide</md-tooltip>
			</md-button>
		</div>
		<div>
			<md-button class="md-fab material-button-fab-small" ng-click="fabCreate('application/vnd.google-apps.document')">
				<md-icon icon="/img/docs-logo-white.svg"></md-icon>
				<md-tooltip>new Doc</md-tooltip>
			</md-button>
		</div>
	</div>
	<div>
		<md-button class="md-fab md-primary" ng-click="fabAdd()">
			<md-icon icon="/img/icons/ic_add_24px.svg"></md-icon>
			<md-tooltip>Add new File</md-tooltip>
		</md-button>
	</div>
</div>