<div ng-controller='fileListFabController' class="fab-container" layout="column">
	<div class="fab-container-small-fabs">
		<div>
			<md-button class="md-fab md-button-fab-small md-primary" md-theme="green" ng-click="fabCreate('application/vnd.google-apps.spreadsheet')">
				<img src="/img/sheets-logo-white.png"/>
				<!-- <md-tooltip>new Sheet</md-tooltip> -->
			</md-button>
		</div>
		<div>
			<md-button class="md-fab md-button-fab-small md-primary" md-theme="yellow" ng-click="fabCreate('application/vnd.google-apps.presentation')">
				<img src="/img/presentation-logo-white.png"/>
				<!-- <md-tooltip>new Slide</md-tooltip> -->
			</md-button>
		</div>
		<div>
			<md-button class="md-fab md-button-fab-small md-primary" md-theme="blue" ng-click="fabCreate('application/vnd.google-apps.document')">
				<img src="/img/docs-logo-white.png"/>
				<!-- <md-tooltip>new Doc</md-tooltip> -->
			</md-button>
		</div>
	</div>
	<div>
		<md-button class="md-fab md-primary" md-theme="red" ng-click="fabAdd()">
			<i class="mdi-add mdi-lg"></i>
			<md-tooltip>Add new File</md-tooltip>
		</md-button>
	</div>
</div>