
body, 
html {
	color: #444;
	background: #ececec;
}

.menu-item {
	background-color: #fff;
	border: 0;
	cursor: pointer;
	display: block;
	color: #333;
	line-height: 45px;
	margin: 0;
	outline: 0;
	padding: 0 20px;
	position: relative;
	text-align: left;
	text-decoration: none;
	width: 100%;
	z-index: 1;
	-webkit-transition: .2s linear;
	-webkit-transition-property: color,background-color;
	-moz-transition: .2s linear;
	-moz-transition-property: color,background-color;
	transition: .2s linear;
	transition-property: color,background-color;
}
.menu-item * {
	vertical-align: middle;
	display:inline-block;
}
.menu-item material-icon {
	padding:0 5px;
}
.menu-item.active {
	background-color: #eee;
	font-weight: bold;
}

.menu-item.active,
.menu-item:focus, 
.menu-item:hover {
	color: #4285f4;
}

