
body, 
html {
	color: #444;
	background: #ececec;
}

.menu-item {
	background-color: #fff;
	border: 0;
	cursor: pointer;
	display: block;
	color: #333;
	line-height: 45px;
	margin: 0;
	outline: 0;
	padding: 0 20px;
	position: relative;
	text-align: left;
	text-decoration: none;
	width: 100%;
	z-index: 1;
	-webkit-transition: .2s linear;
	-webkit-transition-property: color,background-color;
	-moz-transition: .2s linear;
	-moz-transition-property: color,background-color;
	transition: .2s linear;
	transition-property: color,background-color;
}
.menu-item * {
	vertical-align: middle;
	display:inline-block;
}
.menu-item material-icon {
	padding:0 5px;
}
.menu-item.active {
	background-color: #eee;
	font-weight: bold;
}

.menu-item.active,
.menu-item:focus, 
.menu-item:hover {
	color: #4285f4;
}


.route-breadcrumbs {
	list-style: none;
	padding:0;
}
.route-breadcrumb {
	display:inline-block;
}


#appview .tabs-header-items-container {
	margin:0 20px;
}

.spinner-container {
	padding:25px;
}

material-whiteframe.fillview {
	position: absolute;
    left: 16px;
    right: 16px;
    bottom: 46px;
    top: 16px;
}

#user-info > * {
	vertical-align: middle;	
}
#user-info .face {
	margin-right: 0;
}

#teampot-intro-logo {
	max-width: 400px; 
	margin:50px auto; 
	padding:0 50px; 
	text-align: center;
}

.empty-list-message {
	text-align: center;
	margin:25px;
}
.empty-field-message {
	font-size:12px;
}

#appview material-circular-progress .inset {
	background: #ececec;
}

.material-subheader {
	background: #ececec;
	padding-bottom:0;
}
.material-subheader.material-sticky-clone {
	margin-left:0 !important;
	padding-left:32px !important;
}



.list-item-box {
	min-height: 40px;
}
.list-item-box-left {
	border-right:1px solid rgba(0, 0, 0, 0.12);
	padding-right: 16px;
}
.list-item-box-right {
	border-left:1px solid rgba(0, 0, 0, 0.12);
	padding-left:16px;
}