
body, 
html,
#appview-container {
	color: #444;
	background: #ececec;
}

body, 
html {
	overflow: hidden;
}

#appview-container {
	overflow: auto;
}

.menu-item {
	background-color: #fff;
	border-left: 4px solid transparent;
	cursor: pointer;
	display: block;
	color: #333;
	line-height: 45px;
	margin: 0;
	outline: 0;
	padding: 0 15px;
	position: relative;
	text-align: left;
	text-decoration: none;
	width: 100%;
	z-index: 1;
	-webkit-transition: .2s linear;
	-webkit-transition-property: color,background-color,border-left;
	-moz-transition: .2s linear;
	-moz-transition-property: color,background-color,border-left;
	transition: .2s linear;
	transition-property: color,background-color,border-left;
}
.menu-item * {
	vertical-align: middle;
	display:inline-block;
}
.menu-item.active {
	background-color: #eee;
	font-weight: bold;
}

.menu-item.active,
.menu-item:focus, 
.menu-item:hover {
	color: #4285f4;
	border-left: 4px solid #3e50b4; 
}


.route-breadcrumbs {
	list-style: none;
	display:inline-block;
	padding:0;
}
.route-breadcrumb {
	display:inline-block;
}

.route-breadcrumb * {
	vertical-align: middle;
}


#appview .tabs-header-items-container {
	margin:0 20px;
}

.spinner-container {
	padding:25px;
}

md-whiteframe.fillview {
	position: absolute;
    left: 16px;
    right: 16px;
    bottom: 46px;
    top: 16px;
}

#user-info > * {
	vertical-align: middle;	
}
#user-info .face {
	margin-right: 0;
}

#teampot-intro-logo {
	max-width: 400px; 
	margin:50px auto; 
	padding:0 50px; 
	text-align: center;
}

.empty-list-message {
	text-align: center;
	margin:25px;
}
.empty-field-message {
	font-size:12px;
}

#appview md-progress-circular .md-inset,
md-progress-circular.spinner-gray .md-inset {
	background: #ececec;
}


.list-item-box {
	min-height: 40px;
	padding:0 15px;
}
.list-item-box-left {
	border-right:1px solid rgba(0, 0, 0, 0.12);
}
.list-item-box-right {
	border-left:1px solid rgba(0, 0, 0, 0.12);
}


.fab-container {
	position: fixed;
	top: auto;
	right: 0;
	bottom: 0;
	z-index: 50;
	text-align: center;
	padding: 28px;
	
}

.md-fab.md-button-fab-small {
	width: 40px;
	height: 40px;
	margin:2px;
}

.fab-container .fab-container-small-fabs {
	position:relative;
	left:85px;
	
	margin-bottom: 5px;
	
	 -webkit-transition: left .5s; /* For Safari 3.1 to 6.0 */
    transition: left .5s;
}

.fab-container:hover .fab-container-small-fabs {
	position:relative;
	left:0;
}

.fab-container-small-fabs .md-fab md-icon {
	line-height: 50px;
}