md-whiteframe {
	background: #fff;
	margin: 20px;
}

md-content {
	overflow: visible;
}

.md-content-padded {
	padding:20px;
}

md-item.md-item-padded > md-item-content{
	padding:12px;
}

.material-content-actions {
	padding-top:10px;
	text-align:right;
}

md-icon {
	display: inline-block;
	vertical-align: middle;
}

.material-button-fab a.material-button-inner > material-icon {
	margin-top:11px;
}

.dialog-title {
	margin-top:0;
}

.full-height {
	height: 100%;
}

.full-with {
	width: 100%;
}

.tile {
	display: inline-block;
	min-width: 250px;
}

a.unstyled {
	text-decoration: none;
	color: inherit;
}

.md-text-float-full-with input,
.md-text-float-full-with textarea{
	width: 100%;
	margin:0;
}

.input-lg > input{
	font-size:26px;
}

md-input-group, 
.md-input-group {
	margin:10px;
}

.face {
	border-radius: 30px;
	width: 38px;
	margin: 2px 5px;
}

.face-big {
	border-radius: 30px;
	width: 58px;
	margin: 5px 8px;
}

.face-small {
	border-radius: 20px;
	width: 24px;
	margin: 1px 3px;
}


.image-responsive {
	max-width: 100%;
	margin:0 auto;
	display: inline-block;
}

.text-warning,
.text-warning > * {
	color:#ffbb00 !important;
}
.text-error,
.text-error > * {
	color:#db4437 !important;
}
.test-info,
.test-info > * {
	color:#4285f4 !important;
}
.text-muted,
.text-muted > * {
	color:#A8A8A8 !important;
}


md-checkbox.checkbox-bigger .md-container {
	top:0;
	width:36px;
	height:36px
}
md-checkbox.checkbox-bigger .md-container .md-icon {
	width:36px;
	height:36px
}
md-checkbox.checkbox-bigger .md-container .md-ripple-container {
	width: 108px;
	height: 108px;
	left: -36px;
	top: -36px;
}
md-checkbox.checkbox-bigger.md-checked .md-icon:after {
	left: 12px;
	width: 12px;
	height: 24px;
	border-color:white;
}

.md-button.md-fab.md-fab-bottom-right,
.md-button.md-fab.md-fab-bottom-left,
.md-button.md-fab.md-fab-top-right,
.md-button.md-fab.md-fab-top-left {
	position:fixed;
}

.md-whiteframe-with-subheader {
	margin-top:0;
}

.md-tile-left, .md-tile-right, .md-tile-content {
	padding: 0 16px;
}
.md-tile-left.first,
.md-tile-right.first,
.md-tile-content.first {
	padding-left:0;
}
.md-tile-left.last,
.md-tile-right.last,
.md-tile-content.last {
	padding-right:0;
}

a.md-button.md-button-padded {
	padding: 15px 10px;
}

md-sidenav:not(.md-locked-open) {
	width:250px;
}

.md-subheader.md-sticky-clone {
	left:-16px;
	padding-left:32px;
}