md-whiteframe {
	background: #fff;
	margin: 20px;
}

.md-content-padded {
	padding:20px;
}

md-item.md-item-padded > md-item-content{
	padding:8px;
}

.material-content-actions {
	padding-top:10px;
	text-align:right;
}

md-icon {
	display: inline-block;
	vertical-align: middle;
}

.material-button-fab a.material-button-inner > material-icon {
	margin-top:11px;
}

.dialog-title {
	margin-top:0;
}

.full-height {
	height: 100%;
}

.tile {
	display: inline-block;
	min-width: 250px;
}

a.unstyled {
	text-decoration: none;
	color: inherit;
}

.md-text-float-full-with > input,
.md-text-float-full-with > textarea{
	width: 100%;
	margin:0;
}

.input-lg > input{
	font-size:26px;
}

md-input-group, 
.md-input-group {
	margin:10px;
}


/* Date placeholder with tf on Chrome fix */
md-input-group > input[type=date] {
	-webkit-text-fill-color: transparent;
}
md-input-group.md-input-has-value > input[type=date],
md-input-group.md-input-focused > input[type=date] {
	-webkit-text-fill-color:initial;
}

.face {
	border-radius: 30px;
	width: 38px;
	margin: 2px 5px;
}


.image-responsive {
	max-width: 100%;
	margin:0 auto;
	display: inline-block;
}

.text-warning {
	color:#ffbb00;
}
.text-error {
	color:#db4437;
}
.test-info {
	color:#4285f4;
}
.text-muted {
	color:#A8A8A8;
}


md-checkbox.checkbox-bigger .md-container {
	top:0;
	width:36px;
	height:36px
}
md-checkbox.checkbox-bigger .md-container .md-icon {
	width:36px;
	height:36px
}
md-checkbox.checkbox-bigger .md-container .md-ripple-container {
	width: 108px;
	height: 108px;
	left: -36px;
	top: -36px;
}
md-checkbox.checkbox-bigger.md-checked .md-icon:after {
	left: 12px;
	width: 12px;
	height: 24px;
	border-color:white;
}

.md-button.md-fab.md-fab-bottom-right,
.md-button.md-fab.md-fab-bottom-left,
.md-button.md-fab.md-fab-top-right,
.md-button.md-fab.md-fab-top-left {
	position:fixed;
}