material-whiteframe {
	background: #fff;
	margin: 20px;
	padding: 20px;
}

material-icon {
	display: inline-block;
	vertical-align: middle;
}

a.material-button-inner > material-icon {
	margin-top:11px;
}

.dialog-title {
	margin-top:0;
}

.full-height {
	height: 100%;
}

.tile {
	display: inline-block;
	min-width: 250px;
}

a.unstyled {
	text-decoration: none;
	color: inherit;
}

.tf-float-full-with > input,
.tf-float-full-with > textarea{
	width: 100%;
	margin:0;
}

.input-lg > input{
	font-size:26px;
}

material-input-group, 
.material-input-group {
	margin:10px;
}


/* Date placeholder with tf on Chrome fix */
material-input-group > input[type=date] {
	-webkit-text-fill-color: transparent;
}
material-input-group.material-input-has-value > input[type=date],
material-input-group.material-input-focused > input[type=date] {
	-webkit-text-fill-color:initial;
}

.face {
	border-radius: 30px;
	width: 48px;
	margin: 16px;
}


.image-responsive {
	max-width: 100%;
	margin:0 auto;
	display: inline-block;
}

.text-warning {
	color:#ffbb00;
}
.text-error {
	color:#db4437;
}
.test-info {
	color:#4285f4;
}