<!DOCTYPE html>
<html data-ng-app="teampot">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>TeamPot</title>
		
		<!-- build:css libs.min.css -->
		<link type="text/css" rel="stylesheet" href="/libs/angular-material/angular-material.css" />
		<!-- endbuild -->
		
		<!-- build:css app.min.css -->
		<link type="text/css" rel="stylesheet" href="/common.css" />
		<link type="text/css" rel="stylesheet" href="/app.css" />
		<link type="text/css" rel="stylesheet" href="/material-theme-transparent.css" />
		<!-- endbuild -->
	
	</head>
	<body ng-controller="mainController">
	
	
	
		<section layout="horizontal" class="full-height" flex>
	
			<material-sidenav layout="vertical" class="material-sidenav-left material-whiteframe-z3" component-id="left"> 
				<material-toolbar class="material-theme-indigo">
					<h1 class="material-toolbar-tools" data-ng-click="closeSidebar()">TeamPot</h1>
				</material-toolbar> <material-content flex>
					<div layout="vertical" layout-fill>
			
						<button ng-href="/#/project/{{routeParams.projectKey}}/activity" class="menu-item" ink-ripple>
							<material-icon icon="/img/icons/ic_flash_on_24px.svg"></material-icon>
							<span>Activity</span>
						</button>
			
						<button ng-href="/#/project/{{routeParams.projectKey}}/tasks" class="menu-item" ink-ripple>
							<material-icon icon="/img/icons/ic_list_24px.svg"></material-icon>
							<span>Tasks</span>
						</button>
			
						<button ng-href="/#/project/{{routeParams.projectKey}}/files" class="menu-item" ink-ripple>
							<material-icon icon="/img/icons/ic_folder_shared_24px.svg"></material-icon>
							<span>Files</span>
						</button>
			
						<button ng-href="/#/project/{{routeParams.projectKey}}/meetings" class="menu-item" ink-ripple>
							<material-icon icon="/img/icons/ic_event_24px.svg"></material-icon>
							<span>Meetings</span>
						</button>
			
						<button ng-href="/#/project/{{routeParams.projectKey}}/discussions" class="menu-item" ink-ripple>
							<material-icon icon="/img/icons/ic_forum_24px.svg"></material-icon>
							<span>Discussions</span>
						</button>
			
						<button ng-href="/#/project/{{routeParams.projectKey}}/members" class="menu-item" ink-ripple>
							<material-icon icon="/img/icons/ic_group_24px.svg"></material-icon>
							<span>Members</span>
						</button>
			
					</div>
				</material-content> 
			</material-sidenav>
	
			<material-content class="full-height" style="overflow:hidden" flex>
			
				<material-button class="material-button-fab material-button-fab-bottom-right material-theme-red">
					<material-icon icon="/img/icons/ic_add_24px.svg"></material-icon>
				</material-button>
	
				<div layout="vertical" layout-fill>
		
		
					<material-toolbar scroll-shrink class="material-theme-light material-whiteframe-z2">
						<div class="material-toolbar-tools">
							<h1 class="material-toolbar-tools">
								<a hide-md ng-click="openSidebar()" aria-label="Toggle Menu" href> 
									<material-icon icon="/img/icons/ic_menu_24px.svg"></material-icon>
								</a>
			
								<ol class="route-breadcrumbs">
									<li class="route-breadcrumb" ng-repeat="breadcrumb in breadcrumbs">
										<span ng-if="!$last"> 
											<a ng-href="#{{breadcrumb.path}}">{{breadcrumb.label}}</a> 
											<material-icon icon="/img/icons/ic_chevron_right_24px.svg" style="width:24px;"></material-icon>
										</span>
										<span ng-if="$last">{{breadcrumb.label}}</span>
									</li>
								</ol>
			
							</h1>
						</div>
					</material-toolbar>
		
					<material-content class="material-content-padding" flex>
		
					<div ng-view></div>
		
					</material-content>
		
				</div>
	
			</material-content>
	
	
		</section>
	
	
		<!-- build:js libs.min.js -->
		<script type="text/javascript" src="/libs/angular/angular.js"></script>
		<script type="text/javascript" src="/libs/angular-animate/angular-animate.js"></script>
		<script type="text/javascript" src="/libs/angular-route/angular-route.js"></script>
		<script type="text/javascript" src="/libs/angular-material/angular-material.js"></script>
		
		<!-- endbuild -->
	
		<!-- build:js app.min.js -->
		<script type="text/javascript" src="/app.js"></script>
		<script type="text/javascript" src="/components/route-breadcrumbs.js"></script>
		<script type="text/javascript" src="/components/dashboard/dashboard.js"></script>
		<script type="text/javascript" src="/components/project/list.js"></script>
		<script type="text/javascript" src="/components/project/view.js"></script>
		<!-- endbuild -->
	
	</body>
</html>