<!DOCTYPE html>
<html data-ng-app="teampot">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>TeamPot</title>
		
		<style>
			[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
				display: none !important;
			}
		</style>
		
		<!-- build:css libs.min.css -->
		<link type="text/css" rel="stylesheet" href="/libs/angular-material/angular-material.css" />
		<!-- endbuild -->
		
		<!-- build:css app.min.css -->
		<link type="text/css" rel="stylesheet" href="/common.css" />
		<link type="text/css" rel="stylesheet" href="/app.css" />
		<link type="text/css" rel="stylesheet" href="/material-theme-mods.css" />
		
		<link type="text/css" rel="stylesheet" href="/components/task/list.css" />
		<link type="text/css" rel="stylesheet" href="/components/meeting/list.css" />
		<!-- endbuild -->
	
	</head>
	<body ng-controller="mainController" ng-cloak>
	
	
	
		<section layout="horizontal" class="full-height" flex>
	
			<material-sidenav layout="vertical" class="material-sidenav-left material-whiteframe-z3" component-id="left" material-swipe-left="closeSidebar()" ng-if="sidebarTemplateUrl"> 
				<material-toolbar class="material-theme-indigo">
					<h1 class="material-toolbar-tools">
						<material-button ng-href="#/projects">
							<material-icon icon="/img/icons/ic_arrow_back_24px.svg"></material-icon>
							<material-tooltip>Back to projects</material-tooltip>
						</material-button>
						<b>{{currentProject.name}}</b>
					</h1>
				</material-toolbar> 
				<material-content flex>
					<div layout="vertical" layout-fill ng-include="sidebarTemplateUrl"></div>
				</material-content> 
			</material-sidenav>
	
			<material-content class="full-height" style="overflow:hidden" flex>
			
				<span ng-include="fabTemplateUrl" ng-if="fabTemplateUrl"></span>
	
				<div layout="vertical" layout-fill>
		
		
					<material-toolbar scroll-shrink class="material-theme-light material-whiteframe-z2">
						<h1 class="material-toolbar-tools">
							<a hide-md ng-click="openSidebar()" aria-label="Toggle Menu" href ng-if="sidebarTemplateUrl"> 
								<material-icon icon="/img/icons/ic_menu_24px.svg"></material-icon>
							</a>
							
							<span ng-if="breadcrumbs.length<3"><b>TeamPot</b></span>
		
							<ol class="route-breadcrumbs" flex>
								<li class="route-breadcrumb" ng-repeat="breadcrumb in breadcrumbs">
									<span ng-if="!$last && $index>=2"> 
										<a ng-href="#{{breadcrumb.path}}">{{breadcrumb.label}}</a> 
										<material-icon icon="/img/icons/ic_chevron_right_24px.svg" style="width:24px;"></material-icon>
									</span>
									<span ng-if="$last && $index>=2">{{breadcrumb.label}}</span>
								</li>
							</ol>
							
							<a id="user-info" href ng-href="{{userInfo.url}}" target="_blank" ng-if="userInfo.$promise.$resolved">
								<span>+{{userInfo.name.givenName ? userInfo.name.givenName : userInfo.displayName}}</span>
								<img class="face" src="about:blank" ng-src="{{userInfo.image.url}}"/>
							</a>
							<material-button class="material-button-raised" ng-click="signIn()" ng-if="!userInfo.$promise.$resolved">Sign in</material-button>
		
						</h1>
					</material-toolbar>
		
					<material-content class="material-content-padding" flex>
		
						<div ng-view ng-if="userInfo.$promise.$resolved" id="appview"></div>
						
						<div id="teampot-intro-logo" ng-if="!userInfo.$promise.$resolved"">
							<img src="/img/teampot-logo.png" class="image-responsive"/>
						</div>
		
					</material-content>
		
				</div>
	
			</material-content>
	
	
		</section>
	
		<!-- build:js libs.min.js -->
		<script type="text/javascript" src="/libs/angular/angular.js"></script>
		<script type="text/javascript" src="/libs/angular-animate/angular-animate.js"></script>
		<script type="text/javascript" src="/libs/angular-route/angular-route.js"></script>
		<script type="text/javascript" src="/libs/angular-aria/angular-aria.js"></script>
		<script type="text/javascript" src="/libs/angular-sanitize/angular-sanitize.js"></script>
		<script type="text/javascript" src="/libs/hammerjs/hammer.js"></script>
		<script type="text/javascript" src="/libs/angular-material/angular-material.js"></script>
		<script type="text/javascript" src="/libs/angular-filter/dist/angular-filter.js"></script>
		<script type="text/javascript" src="/libs/angular-elastic/elastic.js"></script>
		<!-- endbuild -->
	
		<!-- build:js app.min.js -->
		<script type="text/javascript" src="/app.js"></script>
		<script type="text/javascript" src="/app-constants.js"></script>
		
		<script type="text/javascript" src="/components/route-breadcrumbs.js"></script>
		<script type="text/javascript" src="/components/route-active.js"></script>
		<script type="text/javascript" src="/components/iframe-onload.js"></script>
		<script type="text/javascript" src="/components/angular-gapi/angular-gapi.js"></script>
		<script type="text/javascript" src="/components/angular-gapi/angular-gapi-client.js"></script>
		<script type="text/javascript" src="/components/angular-gapi/angular-gapi-picker.js"></script>
		<script type="text/javascript" src="/components/tf-float.js"></script>
		<script type="text/javascript" src="/components/fn-debounce.js"></script>
		<script type="text/javascript" src="/components/NotifyService/NotifyService.js"></script>
		
		<script type="text/javascript" src="/components/dashboard/dashboard.js"></script>
		
		<script type="text/javascript" src="/components/project/ProjectService.js"></script>
		<script type="text/javascript" src="/components/project/list.js"></script>
		<script type="text/javascript" src="/components/project/list-fab.js"></script>
		<script type="text/javascript" src="/components/project/edit-modal.js"></script>
		
		<script type="text/javascript" src="/components/activity/ActivityService.js"></script>
		<script type="text/javascript" src="/components/activity/list.js"></script>
		
		<script type="text/javascript" src="/components/task/TaskService.js"></script>
		<script type="text/javascript" src="/components/task/list.js"></script>
		<script type="text/javascript" src="/components/task/edit.js"></script>
		
		<script type="text/javascript" src="/components/meeting/MeetingService.js"></script>
		<script type="text/javascript" src="/components/meeting/list.js"></script>
		<script type="text/javascript" src="/components/meeting/edit.js"></script>
		
		<script type="text/javascript" src="/components/file/list.js"></script>
		<script type="text/javascript" src="/components/file/list-fab.js"></script>
		
		<script type="text/javascript" src="/components/user/UserService.js"></script>
		<script type="text/javascript" src="/components/user/list.js"></script>
		<script type="text/javascript" src="/components/user/list-fab.js"></script>
		<script type="text/javascript" src="/components/user/add-modal.js"></script>
		
		<script type="text/javascript" src="/components/discussion/discussions.js"></script>
		<!-- endbuild -->
	
	</body>
</html>