<!DOCTYPE html>
	<html data-ng-app="teampot">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>TeamPot (mavenized! & push-to-deploy! & custom build? 2)</title>
		
		<!-- build:css libs.min.css -->
		<link type="text/css" rel="stylesheet" href="/libs/angular-material/angular-material.css" />
		<!-- endbuild -->

		<!-- build:css app.min.css -->
		<link type="text/css" rel="stylesheet" href="/app.css" />
		<!-- endbuild -->

	</head>
	<body ng-controller="mainController">

		<div layout="horizontal" id="main-container">
			<material-sidenav layout="vertical" class="material-sidenav-left material-whiteframe-z3" component-id="left">

				<material-toolbar class="material-theme-indigo">
					<h1 class="material-toolbar-tools">TeamPot</h1>
				</material-toolbar>
				<material-content flex>


					<div layout="vertical" layout-fill>

						<button class="menu-item" ink-ripple>
          					<span>Buttons</span>
        					<div class="material-ripple-container"></div>
        				</button>
        				<button class="menu-item" ink-ripple>
          					<span>Buttons</span>
        					<div class="material-ripple-container"></div>
        				</button>
        				<button class="menu-item active" ink-ripple>
          					<span>Buttons</span>
        					<div class="material-ripple-container"></div>
        				</button>
        				<button class="menu-item" ink-ripple>
          					<span>Buttons</span>
        					<div class="material-ripple-container"></div>
        				</button>


					</div>

				</material-content>

			</material-sidenav>
		

			<div layout="vertical" layout-fill>

				<material-toolbar scroll-shrink class="material-theme-light material-whiteframe-z2">
					<h1 class="material-toolbar-tools">
						<span>Projects</span>
					</h1>
				</material-toolbar>

				

				<material-content flex class="material-content-padding">

					<material-whiteframe class="material-whiteframe-z1" layout layout-align="center center">
						<span>Hello World Quantum Paper!</span>
					</material-whiteframe>

					<material-whiteframe class="material-whiteframe-z1" layout layout-align="center center">
						<material-button ng-click="toggleSidebar()" class="material-button-colored" hide-md>
							Toggle left
						</material-button>
					</material-whiteframe>

					<material-whiteframe class="material-whiteframe-z1" layout layout-align="center center">
						<material-radio-group ng-model="data.group1">

							<material-radio-button value="1" aria-label="Label 1">
							Label 1
							</material-radio-button>

							<material-radio-button value="2" noink>
							Label 2
							</material-radio-button>

							<material-radio-button value="3" aria-label="Label 3">
							Label 3
							</material-radio-button>

						</material-radio-group>

					</material-whiteframe>

					<material-whiteframe class="material-whiteframe-z1" layout layout-align="center center">
						<material-radio-group ng-model="data.group1">

							<material-radio-button value="1" aria-label="Label 1">
							Label 1
							</material-radio-button>

							<material-radio-button value="2" noink>
							Label 2
							</material-radio-button>

							<material-radio-button value="3" aria-label="Label 3">
							Label 3
							</material-radio-button>

						</material-radio-group>

					</material-whiteframe>

					<material-whiteframe class="material-whiteframe-z1" layout layout-align="center center">
						<material-radio-group ng-model="data.group1">

							<material-radio-button value="1" aria-label="Label 1">
							Label 1
							</material-radio-button>

							<material-radio-button value="2" noink>
							Label 2
							</material-radio-button>

							<material-radio-button value="3" aria-label="Label 3">
							Label 3
							</material-radio-button>

						</material-radio-group>

					</material-whiteframe>

					<material-whiteframe class="material-whiteframe-z1" layout layout-align="center center">
						<material-radio-group ng-model="data.group1">

							<material-radio-button value="1" aria-label="Label 1">
							Label 1
							</material-radio-button>

							<material-radio-button value="2" noink>
							Label 2
							</material-radio-button>

							<material-radio-button value="3" aria-label="Label 3">
							Label 3
							</material-radio-button>

						</material-radio-group>

					</material-whiteframe>

					<material-button class="material-button-fab">
			           X
			        </material-button>

				</material-content>

			</div>
		</div>
		
		<!-- build:js libs.min.js -->
		<script type="text/javascript" src="/libs/angular/angular.js"></script>
		<script type="text/javascript" src="/libs/angular-animate/angular-animate.js"></script>
		<script type="text/javascript" src="/libs/angular-route/angular-route.js"></script>
		<script type="text/javascript" src="/libs/angular-material/angular-material.js"></script>
		<!-- endbuild -->
		
		<!-- build:js app.min.js -->
		<script type="text/javascript" src="/app.js"></script>
		<!-- endbuild -->

	</body>
</html>