.material-theme-transparent .tabs-header {
	background-color: transparent;
}

.material-theme-transparent material-tabs-ink-bar {
	background-color: #4285f4;
}

.material-theme-transparent material-tab.active {
	color: #3e50b4;
}

material-circular-progress .inset {
	background: #ececec;
}

.material-theme-light material-button {
	color: rgb(68, 68, 68) !important;
}

.material-tile-left,
.material-tile-right,
.material-tile-content {
	padding:16px;
}