<a href="#/activity" class="menu-item" ink-ripple>
	<material-icon icon="/img/icons/ic_flash_on_24px.svg"></material-icon>
		<span>Activity</span>
	<div class="material-ripple-container"></div>
</a>
<a href="#/task" class="menu-item" ink-ripple>
	<material-icon icon="/img/icons/ic_list_24px.svg"></material-icon>
			<span>Tasks</span>
	<div class="material-ripple-container"></div>
</a>
<a href="#/file" class="menu-item active" ink-ripple>
	<material-icon icon="/img/icons/ic_folder_shared_24px.svg"></material-icon>
			<span>Files</span>
	<div class="material-ripple-container"></div>
</a>
<a href="#/meeting" class="menu-item" ink-ripple>
	<material-icon icon="/img/icons/ic_event_24px.svg"></material-icon>
			<span>Meetings</span>
	<div class="material-ripple-container"></div>
</a>
<a href="#/discussion" class="menu-item" ink-ripple>
	<material-icon icon="/img/icons/ic_forum_24px.svg"></material-icon>
			<span>Discussions</span>
	<div class="material-ripple-container"></div>
</a>
<a href="#/member" class="menu-item" ink-ripple>
	<material-icon icon="/img/icons/ic_group_24px.svg"></material-icon>
			<span>Members</span>
	<div class="material-ripple-container"></div>
</a>